
progress {
	width: 100%;
}

ul.parameters {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

ul.parameters li {
	float: left;
}

ul.parameters li label {
	display: inline-block;
	text-align: right;
	width: 100px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#message_box {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-top: none;
    height: 5em;
    overflow-y: scroll;
}

#message_box .error {
    color: red;
}

#message_box :nth-last-child(n+2) {
    opacity: 0.7;
}

.plot-list {
    margin: 0 auto;
    display: block;
}

progress {
    margin-top: 6px;
}

.tabcontent button {
    margin-top: 6px;
}