html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 25px);
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
  display: none;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
    cursor: ns-resize;
}

.pane {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1px;
    //border-top: 1px solid #ccc;
    //border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.pane button {
    padding: 0 3px;
    margin: 0 1px;
}

.pane label {
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px 3px;
    align-self: center;
}

.pane input, .pane select {
    align-self: center;
}

.pane input {
  margin: 1px 3px;
}

.pane progress {
    align-self: center;
    flex-grow: 1;
    margin: 3px;
}

.parameters-container {
    //min-width: 22em;
}

ul.parameters {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

ul.parameters li {
	float: left;
}

ul.parameters li input {
    width: 6em;
}

ul.parameters li label {
	display: inline-block;
	text-align: right;
	width: 10em;
}

ul.parameters li label span {
    padding-right: 5px;
}

.par-unit {
    display: inline-block;
    text-align: left;
    width: 3em;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

.plot-list {
    margin: 0 3px;
    margin-right: auto;
}

.plot-controls {
  margin: 0 auto;
}

.plot-box {
    padding: 0 1px;
}

.plot {
    height: calc(100% - 25px);
    width: 100%;
}

.split-col {
    overflow-x: hidden;
    flex-grow: 1;
}

.split-col:not(:first-child) {
  border-left: 1px solid #ccc;
}

.split-row {
    overflow-y: hidden;
    flex-grow: 1;
}

.split-row:not(:first-child) {
  border-top: 1px solid #ccc;
}

.controls-parameters-container {
  flex-shrink: 0;
  height: 150px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex-grow: 0;
  flex-shrink: 0;
}

.message-box {
  border: 1px solid #ccc;
  background: white;
  padding: 6px 12px;
  overflow-y: scroll;
  height: 2em;
  flex-grow: 1;
  flex-shrink: 0;
}

.message-box .error {
    color: red;
}

.message-box :nth-last-child(n+2) {
    opacity: 0.7;
}

.parameters-container {
  width: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.plotlyjsicon {
    display: none;
}