html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.tabcontent {
    height: calc(100vh - 25px);
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
    cursor: ns-resize;
}

.pane {
    display: flex;
    flex-direction: row;
    width: 100%;
    //border-top: 1px solid #ccc;
    //border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.pane button {
    padding: 3px;
    margin: 3px;
}

.pane label {
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    align-self: center;
}

.pane input, .pane select {
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    align-self: center;
}

.pane progress {
    align-self: center;
    flex-grow: 1;
    margin: 3px;
}

.parameters-container {
    min-width: 22em;
}

ul.parameters {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

ul.parameters li {
	float: left;
}

ul.parameters li input {
    width: 6em;
}

ul.parameters li label {
	display: inline-block;
	text-align: right;
	width: 12em;
}

ul.parameters li label span {
    padding-right: 5px;
}

.par-unit {
    display: inline-block;
    text-align: left;
    width: 3em;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

.message-box {
    border: 1px solid #ccc;
    background: white;
    padding: 6px 12px;
    overflow-y: scroll;
    height: 5em;
}

.message-box .error {
    color: red;
}

.message-box :nth-last-child(n+2) {
    opacity: 0.7;
}

.plot-list {
    margin: 0 auto;
    display: block;
}

.plot-box {
    height: 100%;
    overflow: hidden;
}

.plot {
    height: calc(100% - 25px);
}

.split-col {
    overflow-x: hidden;
}

.split-row {
    overflow-y: hidden;
}

.plotlyjsicon {
    display: none;
}